.App {
  text-align: center;
  margin: 80px;
}
.gallery-container {
  display: flex;
  flex-flow: row wrap;
  .gallery-image-wrapper {
    flex: auto;
    height: 250px;
    min-width: 150px;
    overflow: hidden;
    margin: 0 8px 8px 0; /* Some gutter */
    img {
      width: 100%;
      height: 100%;
      cursor: pointer;
      transition: transform 500ms ease;
      &:hover {
        transform: scale(1.1);
      }
    }
    &:nth-child(4n + 1) {
      width: 250px;
    }
  }
}

.lightbox-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .lightbox-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.85);
  }
  .lightbox-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    box-shadow: rgba(0, 0, 0, 0.25);
    z-index: 101;
    width: 50%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.react-icons {
  color: #fff;
  font-size: 26px;
  cursor: pointer;
}

.lightbox-enter {
  opacity: 0.01;
  &.lightbox-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
}

.lightbox-leave {
  opacity: 1;
  &.lightbox-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }
}
